<!-- 퍼블리싱할때 templates에 다 합쳐지기때문에 폴더 안에 각 default.html 파일을 만드는 것! -->

<!DOCTYPE html>

<!-- 장고 템플릿 태그(장고 기능 명령어가 다음에 나옴) : collect statics하고 났을때 연결해주는 코드 : 개발자도구에서도 안보임-->
{% load staticfiles %}

<html lang="ko">
<head>
 <title>My Little Lotto</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <!-- min.css의 의미: css(다른 파일도 가능)를 용량을 많이 최소화한 버전-->
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
 <link rel='stylesheet' href="{% static 'css/lotto.css' %}">
</head>

<body>
 <div class="page-header">
 <h1>
	Selected Lotto Numbers
  <!-- name따라서 주소를 알아서 찾아감 -->
   <a href="{% url 'new_lotto' %}">
     <span class="glyphicon glyphicon-plus btn btn-default"></span>
   </a>
 </h1>
 </div>
 <div class="container lotto">
   
   {% for lotto in lottos %}
     <h2> <a href="{% url 'detail' lottokey=lotto.pk %}""></a> {{lotto.text}}</h2>
     <p>{{lotto.update_date}}</p>
     <p>{{lotto.lottos | linebreaksbr}}</p>
   {% endfor %}
   <!-- 중괄호 두개는 context(dict) key값을 호출
   <p>{{ lottos }}</p>
   <h2>Good luck!</h2>
   <p> last update:2030/12/31</p>
   <p> 1, 10, 19, 15, 20, 35 </p> -->
 </div>
</body>
</html>
